---
export const prerender = false;
import BlogList from "../../components/blogger/BlogList.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Blog</title>
    </head>
    <body>
        <BlogList />
        <style is:global>
            body {
                font-family: Arial, sans-serif;
                margin: 0;
                padding: 0;
            }
        </style>
    </body>
</html>
